:root {
  --color: #000104;
  --background-color: #f3f4f6;
  --footer-color: #fff;
  --footer-background-color: #2b2c2e;
  --primary-color-light: #ffe873;
  --primary-color-dark: #ffd43b;
  --secondary-color-light: #5a9fd4;
  --secondary-color-dark: #306998;

  --navbar-height: 64px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-feature-settings: "palt";
  font-size: 16px;
  background-color: var(--footer-background-color);
  color: var(--color);
}

a,
a:not([class]) {
  color: var(--secondary-color-dark);
}

a:focus,
a:hover {
  color: var(--secondary-color-light);
}

a.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: var(--color);
  border: 1px solid #ffd026;
  border-radius: 5px;
  background: linear-gradient(90deg, #ffd026, #ffea80, #ffd026);
  background-size: 200% 100%;
  animation: gradient-animation 2s linear infinite;
  text-decoration: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

a.button:focus,
a.button:hover {
  background: #ffd026;
  animation: none;
}

th {
  text-align: left;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

.row {
  flex-direction: column;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .row {
    flex-direction: row;
  }

  nav #links {
    display: block;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 860px;
  }
}

.row {
  display: flex;
}

.col {
  flex: 1 0 0;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: 0.125em;
}

nav {
  position: fixed;
  background-color: #fff;
  border-bottom: #eee solid 1px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  height: var(--navbar-height);
  width: 100%;
  top: 0;
  z-index: 2;
}

nav .container {
  height: 100%;
}

nav .row {
  align-items: center;
  height: 100%;
}

nav .col {
  margin: auto;
}

nav #links {
  display: none;
}

nav #links li {
  padding-left: 0.6rem;
}

nav #links a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: var(--color);
}

nav #links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 2px;
  left: 50%;
  background: var(--color);
  transition:
    width 0.15s ease,
    left 0.15s ease;
}

nav #links a:hover::after {
  width: 100%;
  left: 0;
}

@media (min-width: 900px) {
  nav #links {
    display: block;
  }
}

nav h1 {
  margin: 0 auto 0 0;
  height: var(--navbar-height);
}

nav h1 img {
  padding: 4px;
  height: 100%;
}

nav ul {
  text-align: right;
}

nav li {
  list-style: none;
  display: inline-block;
}

header {
  margin-top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  background-image: image-set(
    url("assets/header.webp") type("image/webp"),
    url("assets/header.jpg") type("image/jpeg")
  );
  background-size: cover;
  background-position: bottom 70% center;
}

header .col {
  text-align: center;
}

header h1 {
  margin-top: 32vh;
  text-align: center;
}

header h1 img {
  display: inline-block;
  width: 90vw;
  max-width: 500px;
}

header .lead {
  font-size: max(min(3vw, 2rem), 1.5rem);
  font-weight: bold;
}

header .lead a.button {
  margin-top: 1rem;
  font-size: 80%;
}

section {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--background-color);
}

section h2 {
  margin: 0.5rem 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-source: linear-gradient(
    90deg,
    var(--primary-color-light),
    var(--primary-color-dark),
    var(--primary-color-light)
  );
  border-image-slice: 1;
  text-align: center;
}

section h3 {
  text-align: center;
}

section table {
  margin: 1.2rem auto 0;
}

section#overview th {
  width: 4rem;
}

section#access th {
  width: 3rem;
}

section#keynote .col:first-child {
  flex-grow: 4;
  margin: auto 0;
}

section#keynote .col:nth-child(2) {
  flex-grow: 6;
}

section#keynote img {
  padding: 1rem;
}

section#sponsor h3 {
  margin-block-start: 2rem;
}

.sponsor {
  text-align: center;
}

.sponsor h4 {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}

.sponsor img {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.sponsor p {
  text-align: left;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.patron h4 {
  text-align: center;
  font-size: 1.15rem;
}

section#staff th,
section#staff td {
  padding-right: 2rem;
}

footer {
  padding: 0.5rem 0;
  background-color: var(--footer-background-color);
  color: var(--footer-color);
}

/*******************************
*** タイムテーブルのスタイル ***
********************************/
.sp-only {
  display: none;
}
.flex {
  display: flex;
}
.table {
  width: 100%;
  overflow-x: auto;
}
.table > div {
  min-width: 700px;
}
.time1 {
  font-weight: 700;
}
.time2 {
  color: #555;
}
.list-name {
  font-weight: 700;
}
.padding-none {
  margin: -5px 0;
}
a.event-box {
  display: block;
  text-decoration: none;
  color: var(--color);
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 3px;
  text-align: start;
  margin: 5px;
}
.event-box:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.event-box time {
  display: block;
  margin-bottom: 4px;
  color: #555;
}
.event-box h3 {
  margin: 0 0 4px;
  text-align: start;
}
.label {
  width: fit-content;
  padding: 5px 8px;
  margin-bottom: 4px;
  color: #fff;
  margin-right: 3px;
}
.widest {
  height: 560px;
}
.wider {
  height: 365px;
}
.wide {
  height: 200px;
}
.narrow {
  height: 170px;
}
.lunch {
  height: 100px;
  margin: 5px 0;
}
.none {
  opacity: 0;
}
.border-none {
  border: none;
}
.keynote {
  background-color: #5c5c5c;
}
.talk {
  background-color: #427aaf;
}
.workshop {
  background-color: #af42af;
}
.beginner {
  background-color: #60af42;
}
.intermediate {
  background-color: #afa842;
}
.advanced {
  background-color: #af4242;
}
.not-specified {
  background-color: #ffffff;
  color: #000;
  border: #000 1px solid;
}
.event-box .name {
  color: #555;
}
.table li {
  padding: 10px;
  place-content: center;
}
.table .time {
  min-width: 50px;
  text-align: end;
}
.table .time li {
  border-bottom: #ddd 1px solid;
}
.table .time li:nth-last-child(1) {
  border: none;
}
.table li:nth-child(1) {
  /* 項目名 */
  text-align: center;
  border-bottom: #aaa 1px solid;
}
.table p {
  margin: 0;
}
.table ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.table .hall-a {
  width: 50%;
}
.table .hall-b {
  width: 50%;
}
@media (max-width: 900px) {
  .sp-only {
    display: block;
  }
  #timetable .container:nth-child(2) {
    max-width: none;
  }
}
/********************************
 *** タイムテーブルの詳細表示 ***
 ************* ******************/
#event-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 3;
  place-content: center;
  display: none;
}
#event-modal {
  margin: auto;
  padding: 20px;
  width: 80%;
  max-height: 80vh;
  background-color: #fff;
  overflow: hidden;
}
#event-modal-close {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  background-color: rgb(255, 136, 0);
  color: #fff;
  text-align: center;
  margin: 0 0 0 auto;
}
#event-modal-close:focus,
#event-modal-close:hover {
  opacity: 0.8;
}
#event-modal .name {
  color: #555;
  text-align: right;
}
.event-modal-talk {
  display: none;
  max-height: calc(80vh - 100px);
  overflow-y: auto;
}
.event-modal-talk hr {
  margin-top: 10px;
  border-top: rgb(255, 136, 0) 2px solid;
}
