:root {
  --color: #231815;
  --background-color: white;
  --footer-color: #fff;
  --footer-background-color: #919191;
  --primary-color-light: #ffe873;
  --primary-color-dark: #ffd43b;
  --secondary-color-light: #0281e3;
  --secondary-color-dark: #a882f6;
  --label-color: #15c6e598;
  --staff-background-color: #ededed;
  --yellow-gradation: linear-gradient(to right, #ffe873, #ffd43b);
  --event-track-color: #a882f6;
  --event-track-gradation: linear-gradient(
    to right,
    #a882f6,
    #7a8bff,
    #a882f6,
    #7a8bff,
    #a882f6,
    #7a8bff
  );

  --navbar-height: 64px;
  --pc-parallelogram: polygon(32% 0%, 100% 0%, 68% 100%, 0% 100%);
  --sp-parallelogram: polygon(36% 0%, 100% 0%, 64% 100%, 0% 100%);
  --pc-label-parallelogram: polygon(13.5% 0%, 100% 0%, 86.5% 100%, 0% 100%);
  --sp-label-parallelogram: polygon(13.5% 0%, 100% 0%, 86.5% 100%, 0% 100%);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.3rem;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-feature-settings: "palt";
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--color);
  overflow-x: hidden;
}

a,
a:not([class]) {
  text-decoration: none;
  color: var(--secondary-color-light);
}

a:focus,
a:hover {
  color: var(--secondary-color-dark);
}

a.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: var(--color);
  border: 1px solid #ffd026;
  border-radius: 5px;
  background: linear-gradient(90deg, #ffd026, #ffea80, #ffd026);
  background-size: 200% 100%;
  animation: gradient-animation 2s linear infinite;
  text-decoration: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

a.button:focus,
a.button:hover {
  background: #ffd026;
  animation: none;
}

th {
  text-align: left;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row {
  flex-direction: column;
}

@media (min-width: 576px) {
  .container {
    max-width: 1300px;
  }
  main .container {
    max-width: 1090px;
  }
  .row {
    flex-direction: row;
  }

  nav #links {
    display: block;
  }
}

.parallelogram {
  clip-path: var(--pc-parallelogram);
}
.label-parallelogram {
  clip-path: var(--pc-label-parallelogram);
}
@media (max-width: 900px) {
  .parallelogram {
    clip-path: var(--sp-parallelogram);
  }
  .label-parallelogram {
    clip-path: var(--sp-label-parallelogram);
  }
}

.tertiary-line::before {
  content: "";
  width: 100%;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  display: block;
  position: absolute;
  top: 0px;
}

.tertiary-line::after {
  content: "";
  width: 100%;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  display: block;
  position: absolute;
  bottom: 0px;
}

.deco::before {
  content: "";
  width: 363.7px;
  height: 399.46px;
  background-image: url("./assets/images/deco.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

.secondary-deco::after {
  content: "";
  width: 476.77px;
  height: 421.81px;
  background-image: url("./assets/images/secondary-deco.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

@media (max-width: 900px) {
  .deco::before {
    width: 52.97vw;
    height: 46.85vw;
    background-image: url("./assets/images/sp/deco.svg");
  }

  .secondary-deco::after {
    width: 47.3vw;
    height: 46.85vw;
    background-image: url("./assets/images/sp/secondary-deco.svg");
  }
}

.row {
  display: flex;
}

.col {
  flex: 1 0 0;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: 0.125em;
}

.english-font {
  font-family: "helvetica-neue-lt-pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
}

nav {
  position: fixed;
  background-color: #ffffffe4;
  border-bottom: #eee solid 1px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  height: var(--navbar-height);
  width: 100%;
  top: 0;
  z-index: 10;
}

nav .container {
  width: 95vw;
  height: 100%;
}

nav .row {
  align-items: center;
  height: 100%;
}

nav .col {
  margin: auto;
}

nav #links {
  display: none;
}

nav #links li {
  padding-left: 0.6rem;
}

nav #links a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: var(--color);
}

nav #links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 2px;
  left: 50%;
  background: var(--color);
  transition:
    width 0.15s ease,
    left 0.15s ease;
}

nav #links a:hover::after {
  width: 100%;
  left: 0;
}

@media (min-width: 900px) {
  nav #links {
    display: block;
  }
}

nav h1 {
  margin: 0 auto 0 0;
  height: var(--navbar-height);
}

nav h1 img {
  padding: 4px;
  height: 100%;
}

nav ul {
  text-align: right;
}

nav li {
  list-style: none;
  display: inline-block;
}

header::before {
  content: "";
  width: clamp(171px, 63.4vw, 476px);
  height: clamp(151px, 56vw, 421px);
  display: block;
  position: absolute;
  background-image: url("./assets/images/deco-top.svg");
  background-size: contain;
  top: clamp(-230.4px, -6.5vw, -45px);
  right: clamp(-245.76px, -8vw, -55px);
  z-index: 3;
}
header::after {
  content: "";
  width: clamp(171px, 63.4vw, 476px);
  height: clamp(151px, 56vw, 421px);
  display: block;
  position: absolute;
  background-image: url("./assets/images/deco-top.svg");
  background-size: contain;
  bottom: 0px;
  left: clamp(-245.76px, -8vw, -55px);
  z-index: 0;
  transform: rotate(130deg);
}
header {
  height: calc(100vh + var(--navbar-height));
  background-image: image-set(
    url("./assets/images/top-bg.webp") type("image/webp"),
    url("./assets/images/top-bg.jpg") type("image/jpeg")
  );
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  align-content: center;
  position: relative;
}
@media (max-width: 900px) {
  header .row {
    flex-direction: column;
  }
}
header .col {
  text-align: center;
}

header h1 {
  margin-top: calc(var(--navbar-height) / 2);
  width: clamp(256px, 36.6vw, 500px);
  position: relative;
  left: 1vw;
  z-index: 3;
}

header .y {
  font-size: clamp(99.96px, 14.28vw, 195.13px);
  position: relative;
  letter-spacing: 10px;
  left: 5px;
  top: 25px;
}

header .mini-tokai {
  font-size: clamp(25.9px, 3.7vw, 50.58px);
  position: absolute;
  right: 1px;
}

header .tokai {
  position: relative;
  bottom: clamp(3.1px, 0.31vw, 6px);
}

header .lead {
  /*font-size: max(min(3vw, 2rem), 1.5rem);*/
  font-size: clamp(16px, 2.37vw, 32.43px);
  font-weight: bold;
  padding-top: 100px;
  width: fit-content;
  text-align: left;
  padding-left: 10px;
  position: relative;
  z-index: 3;
  padding-bottom: 50px;
}

header .month,
header .day {
  font-size: clamp(34.3px, 4.9vw, 67.66px);
  letter-spacing: -8px;
}

header .time {
  position: relative;
  top: clamp(-14px, -1.04vw, -20px);
}

header .images img {
  width: clamp(409px, 49.4vw, 950px);
}

header .images {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
  width: 100%;
  padding-top: calc(var(--navbar-height) / 2);
}

header .images img:nth-child(1) {
  position: relative;
  z-index: 2;
  display: block;
  margin-left: auto;
}

header .images img:nth-child(2) {
  position: relative;
  left: clamp(56.35px, 8.05vw, 110px);
  top: clamp(-40px, -2.9vw, -20.3px);
  z-index: 1;
  margin-left: auto;
}

header .images img:nth-child(3) {
  position: relative;
  right: clamp(187.53px, 26.79vw, 366px);
  top: clamp(-150px, -7.32vw, -50px);
  z-index: 0;
  margin-left: auto;
}

header .place,
header .recruiting {
  font-size: clamp(13px, 1.68vw, 23px);
}

header .place2 {
  font-size: clamp(13px, 1.44vw, 19.75px);
}

header .place3 {
  font-size: clamp(13px, 1.05vw, 14.35px);
}
@media (min-aspect-ratio: 16/7) {
  header {
    height: fit-content;
    min-height: clamp(550px, 48.4vw, 930px);
  }
}

@media (max-aspect-ratio: 16/9) {
  header {
    height: 100vh;
  }

  header .images {
    position: absolute;
    align-content: center;
    height: 100vh;
  }
}

.scroll-animation {
  opacity: 0;
}

.scroll-animation.visible {
  opacity: 1;
  animation: visible 0.6s ease-in-out;
}

@keyframes visible {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 900px) {
  header::before {
    content: "";
    width: clamp(171px, 56.3vw, 422.9px);
    height: clamp(151px, 46.64vw, 349.8px);
    display: block;
    position: absolute;
    background-image: url("./assets/images/sp/deco.svg");
    background-size: contain;
    top: clamp(-230.4px, -6.5vw, -45px);
    right: clamp(-245.76px, -8vw, -55px);
    z-index: 3;
  }
  header::after {
    content: "";
    width: clamp(171px, 48.52vw, 361.89px);
    height: clamp(151px, 40.46vw, 303.47px);
    display: block;
    position: absolute;
    background-image: url("./assets/images/sp/secondary-deco.svg");
    background-size: contain;
    bottom: 0px;
    left: 57vw;
    z-index: 3;
    transform: rotate(0deg);
  }
  header {
    margin-top: calc(var(--navbar-height));
    background-image: image-set(
      url("./assets/images/sp/top-bg-sp.webp") type("image/webp"),
      url("./assets/images/sp/top-bg-sp.jpg") type("image/jpeg")
    );
    background-size: cover;
    background-position: bottom;
    height: fit-content;
    position: relative;
  }

  header .y {
    font-size: clamp(99.96px, 23.316vw, 174.87px);
  }

  header .mini-tokai {
    font-size: clamp(25.9px, 6vw, 45px);
    right: 0.8vw;
  }

  header .tokai {
    bottom: clamp(3.1px, 0.31vw, 6px);
  }

  header .lead {
    font-size: clamp(16px, 4.34vw, 32.43px);
    padding-top: 10vw;
    padding-left: 0.6vw;
    padding-bottom: 6.66vw;
    text-wrap: nowrap;
  }

  header .place,
  header .recruiting {
    font-size: clamp(16px, 4.34vw, 32.43px);
  }

  header .month,
  header .day {
    font-size: clamp(34.3px, 9vw, 67.66px);
    letter-spacing: -1vw;
  }

  header .time {
    top: clamp(-14px, -1.04vw, -20px);
  }

  header .images img {
    width: clamp(409px, 102.4vw, 768px);
  }

  header .images {
    position: relative;
    margin-top: -44vw;
    right: -0px;
    padding-top: 0px;
    height: fit-content;
    overflow-x: hidden;
  }

  header .images img:nth-child(1) {
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    right: -28vw;
  }

  header .images img:nth-child(2) {
    position: relative;
    margin-right: -12.7vw;
    margin-top: -6.11vw;
    z-index: 1;
  }

  header .images img:nth-child(3) {
    position: relative;
    right: 16.6vw;
    margin-top: -17.2vw;
    top: 5.5vw;
    z-index: 0;
    margin-left: auto;
  }

  header .place2 {
    font-size: clamp(13px, 2.6vw, 19.75px);
  }

  header .place3 {
    font-size: clamp(13px, 1.9vw, 14.35px);
  }
}

section {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--background-color);
}

section h2 {
  margin: 0.5rem 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-source: linear-gradient(
    90deg,
    var(--primary-color-light),
    var(--primary-color-dark),
    var(--primary-color-light)
  );
  border-image-slice: 1;
  text-align: center;
}

section#overview h2,
section#news h2,
section#event-track h2 {
  margin: 0px;
  padding-bottom: 15px;
  border-bottom-style: none;
  text-align: start;
}

section h3 {
  text-align: center;
}

section .text {
  text-wrap: wrap;
  font-size: 1.0625rem;
  line-height: 1.8rem;
}

section table {
  text-align: start;
  padding-top: 50px;
}

section h4 {
  text-align: center;
}

section .col h2,
h4 {
  margin: 0;
  border: none;
  padding: 1px;
}

section .col h4 {
  margin-bottom: 1rem;
}

#overview {
  padding-top: 70px;
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
}

#overview .col {
  height: fit-content;
}

#overview h2 {
  padding-top: 50px;
}

#overview h2 span {
  line-height: 2.8rem;
  font-size: 1.4rem;
}

#overview .description {
  width: clamp(546px, 39.9vw, 765px);
}

#overview table * {
  position: relative;
}

#overview .line::after {
  width: 100%;
  content: "";
  height: 1px;
  background-color: var(--secondary-color-light);
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#overview .date {
  font-size: 1.875rem;
}

#overview .date .month,
#overview .date .day {
  font-size: 4rem;
}

#overview .images {
  right: -180px;
  position: absolute;
  z-index: -2;
}

#overview .text {
  position: relative;
}

#overview .text.secondary-deco::after {
  bottom: 300px;
  left: -20vw;
  transform: rotate(90deg);
  opacity: 0.6;
  z-index: -1;
}

#overview .images.deco::before {
  z-index: 1;
  bottom: -100px;
  right: 600px;
  transform: rotate(45deg);
  opacity: 0.6;
}

#overview .images.secondary-deco::after {
  z-index: 1;
  top: -50px;
  right: 0px;
  transform: rotate(0deg);
  opacity: 0.6;
}

#overview .images .label {
  position: relative;
  margin: 0px;
  padding: 0px;
}
#overview .images .label p {
  display: block;
  position: absolute;
  bottom: 6px;
  left: 280px;
  z-index: 1;
  background-color: var(--label-color);
  text-align: center;
  align-content: center;
  height: 65px;
  width: 340px;
  font-size: 1.4rem;
}

#overview .cautionary {
  position: relative;
  width: fit-content;
  font-size: 1.56rem;
  padding-top: 28px;
}

#overview .secondary-line::after {
  width: 100%;
  content: "";
  height: 15px;
  background-image: linear-gradient(
    90deg,
    var(--primary-color-light),
    var(--primary-color-dark)
  );
  display: block;
  position: absolute;
  left: 0px;
  bottom: -3px;
  z-index: -1;
}

#news {
  padding-top: 50px;
}

#news svg {
  width: 18px;
  position: relative;
  top: 4px;
}

#news .comment {
  background-image: url("./assets/images/comment.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0.875rem;
  height: 90px;
  width: 160px;
  margin-top: 30px;
  padding-top: 20px;
  padding-right: 5px;
  text-align: center;
  position: relative;
  left: 200px;
  display: block;
  animation: fly 2s ease-in-out infinite;
}

@keyframes fly {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

#news a {
  color: white;
}

#news .custom-follow-btn {
  background-color: #000;
  font-size: 1.06rem;
  display: block;
  width: fit-content;
  align-content: center;
  padding: 3px 20px;
  border-radius: 15px;
  position: relative;
}

#news .custom-follow-btn:hover {
  background-color: var(--color);
}

@media (max-width: 1190px) {
  #overview .row {
    flex-direction: column;
  }

  #overview .col {
    order: 0;
  }

  #overview .text.secondary-deco::after {
    display: none;
  }

  #overview .text {
    order: 2;
    width: 95vw;
    margin: 0px auto;
  }

  #overview .images {
    right: -0px;
    position: relative;
    z-index: 1;
    order: 1;
  }

  #overview .images .label {
    position: relative;
    margin: auto;
  }

  #overview .description {
    width: 100%;
  }

  #news .comment {
    margin: 50px auto 0px auto;
    left: 100px;
    top: 0px;
  }

  #news .custom-follow-btn {
    margin: auto;
  }
}

@media (max-width: 900px) {
  #overview .images .label p {
    left: clamp(124.56px, 34.6vw, 260px);
    height: clamp(30.96px, 8.6vw, 65px);
    width: clamp(163.08px, 45.3vw, 340px);
  }
}

.sp-600 {
  display: none;
}

@media (max-width: 600px) {
  .sp-600 {
    display: block;
  }

  #overview .images.deco::before {
    z-index: 1;
    bottom: 0px;
    right: 68vw;
    transform: rotate(150deg);
  }

  #overview .images.secondary-deco::after {
    z-index: 1;
    top: -50px;
    right: 0px;
  }

  #overview h2,
  #event-track h2 {
    line-height: 3rem;
  }

  #overview h2 span {
    line-height: 1.8rem;
    padding-bottom: 0px;
    display: block;
    position: relative;
    top: 40px;
  }

  #overview .secondary-line::after {
    height: 0px;
    background-image: none;
    display: none;
  }

  #overview .secondary-line {
    display: inline;
    background-image: linear-gradient(
      to bottom,
      transparent 60%,
      var(--primary-color-dark) 60%,
      var(--primary-color-light) 100%
    );
    background-size: 100% 1em;
    background-repeat: no-repeat;
    background-position: 0 100%;
    line-height: 2rem;
  }

  #overview .date {
    font-size: 1.5rem;
  }

  #overview .date .month,
  #overview .date .day {
    font-size: 2.4rem;
  }

  #overview .cautionary {
    top: 40px;
  }
}

#event-track {
  background-color: #fff1d7;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 200px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#event-track .pickup.deco::before {
  display: none;
}

#event-track .pickup.secondary-deco::after {
  display: none;
}

#event-track .description {
  position: relative;
}

#event-track .description h2 {
  text-wrap: nowrap;
  position: absolute;
  top: 0px;
}

#event-track .description .text {
  padding-top: 60px;
}

#event-track .bg-text {
  display: block;
  position: absolute;
  color: white;
  font-size: 7.3125rem;
  line-height: 7.3rem;
  top: 0px;
  z-index: -1;
}

#event-track div * {
  z-index: 1;
}

#event-track .visitors {
  width: fit-content;
  text-align: center;
  padding-top: 20px;
}

#event-track .visitors .text {
  border-top: 1px solid var(--event-track-color);
  border-bottom: 1px solid var(--event-track-color);
  width: fit-content;
  padding-top: 3px;
  width: 140px;
  margin: auto;
  font-weight: 500;
}

#event-track .visitors .numbers {
  font-size: 2.3rem;
  font-weight: 900;
  margin: 0px;
  background-image: var(--event-track-gradation);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  padding-top: 20px;
}

#event-track .visitors .numbers span {
  font-size: 5rem;
  display: inline-block;
  margin-right: 8px;
}

#event-track .visitors small {
  display: block;
  font-size: 0.65rem;
}

#event-track .images {
  position: relative;
  width: 100%;
  height: 400px;
}

#event-track .images img {
  display: block;
  position: absolute;
}

#event-track .images img:nth-child(1) {
  top: -130px;
  right: 100px;
}

#event-track .images img:nth-child(2) {
  top: 30px;
  left: 100px;
}

#event-track .images img:nth-child(3) {
  top: 130px;
  right: 100px;
}

#event-track .images img:nth-child(4) {
  top: 220px;
  left: 20px;
}

@media (max-width: 1190px) {
  #event-track .pickup {
    position: relative;
  }

  #event-track .pickup.deco::before {
    display: block;
    z-index: 0;
    top: -130px;
    right: 0px;
    transform: rotate(0deg);
    opacity: 0.6;
  }

  #event-track .pickup.secondary-deco::after {
    display: block;
    z-index: 0;
    bottom: -100px;
    right: 60vw;
    transform: rotate(190deg);
    opacity: 0.6;
  }

  #overview .row,
  #event-track .row {
    flex-direction: column;
  }

  #event-track .col {
    order: 0;
    width: 95vw;
    margin: 0px auto;
  }

  #event-track .visitors {
    margin-left: 25vw;
  }

  #event-track .bg-text {
    top: -200px;
  }

  #event-track .images {
    position: relative;
    width: 600px;
    height: 400px;
    margin-left: 30vw;
  }

  #event-track .description {
    margin-top: 70px;
    text-align: center;
    padding-bottom: 100px;
  }
  #event-track .description h2 {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 800px) {
  #event-track .bg-text {
    font-size: 18vw;
    line-height: 22.75vw;
    top: -36vw;
  }

  #event-track .visitors {
    padding-top: 0px;
    margin-left: 15vw;
  }

  #event-track .images {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0px 0px 0px auto;
  }
}

@media (max-width: 600px) {
  #event-track {
    padding-top: 30vw;
  }

  #event-track .visitors {
    padding-top: 0px;
    margin-left: 15vw;
  }

  #event-track .images {
    position: relative;
    top: 10px;
    width: 100%;
    height: 525px;
  }

  #event-track .images img:nth-child(1) {
    top: 0px;
    right: 0px;
  }

  #event-track .images img:nth-child(2) {
    top: 150px;
    left: 8.3vw;
  }

  #event-track .images img:nth-child(3) {
    top: 250px;
    right: 0px;
  }

  #event-track .images img:nth-child(4) {
    top: 350px;
    left: 0px;
  }

  #event-track .description .text {
    padding-top: 100px;
  }
}

section#access th {
  width: 3rem;
}

section#keynote .col:first-child {
  flex-grow: 4;
  margin: auto 0;
}

section#keynote .col:nth-child(2) {
  flex-grow: 6;
}

section#keynote img {
  padding: 1rem;
}

section#sponsor h3 {
  margin-block-start: 2rem;
}

.sponsor {
  text-align: center;
}

.sponsor h4 {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}

.sponsor img {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.sponsor p {
  text-align: left;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.patron h4 {
  text-align: center;
  font-size: 1.15rem;
}

section#staff th,
section#staff td {
  padding-right: 2rem;
}

footer {
  text-align: center;
  background-color: var(--footer-background-color);
  color: var(--footer-color);
}

@media (max-width: 900px) {
  .pc-only {
    display: none;
  }
}

@media (min-width: 901px) {
  .sp-only {
    display: none;
  }
}

/*******************************
*** タイムテーブルのスタイル ***
********************************/
.flex {
  display: flex;
}
.table {
  width: 100%;
  overflow-x: auto;
}
.table > div {
  min-width: 700px;
}
.time1 {
  font-weight: 700;
}
.time2 {
  color: #555;
}
.list-name {
  font-weight: 700;
}
.padding-none {
  margin: -5px 0;
}
a.event-box {
  display: block;
  text-decoration: none;
  color: var(--color);
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 3px;
  text-align: start;
  margin: 5px;
}
.event-box:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.event-box time {
  display: block;
  margin-bottom: 4px;
  color: #555;
}
.event-box h3 {
  margin: 0 0 4px;
  text-align: start;
}
.label {
  width: fit-content;
  padding: 5px 8px;
  margin-bottom: 4px;
  color: #fff;
  margin-right: 3px;
}
.widest {
  height: 560px;
}
.wider {
  height: 365px;
}
.wide {
  height: 200px;
}
.narrow {
  height: 170px;
}
.lunch {
  height: 100px;
  margin: 5px 0;
}
.none {
  opacity: 0;
}
.border-none {
  border: none;
}
.keynote {
  background-color: #5c5c5c;
}
.talk {
  background-color: #427aaf;
}
.workshop {
  background-color: #af42af;
}
.beginner {
  background-color: #60af42;
}
.intermediate {
  background-color: #afa842;
}
.advanced {
  background-color: #af4242;
}
.not-specified {
  background-color: #ffffff;
  color: #000;
  border: #000 1px solid;
}
.event-box .name {
  color: #555;
}
.table li {
  padding: 10px;
  place-content: center;
}
.table .time {
  min-width: 50px;
  text-align: end;
}
.table .time li {
  border-bottom: #ddd 1px solid;
}
.table .time li:nth-last-child(1) {
  border: none;
}
.table li:nth-child(1) {
  /* 項目名 */
  text-align: center;
  border-bottom: #aaa 1px solid;
}
.table p {
  margin: 0;
}
.table ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.table .hall-a {
  width: 50%;
}
.table .hall-b {
  width: 50%;
}
@media (max-width: 900px) {
  #timetable .container:nth-child(2) {
    max-width: none;
  }
}
/********************************
 *** タイムテーブルの詳細表示 ***
 ************* ******************/
#event-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 3;
  place-content: center;
  display: none;
}
#event-modal {
  margin: auto;
  padding: 20px;
  width: 80%;
  max-height: 80vh;
  background-color: #fff;
  overflow: hidden;
}
#event-modal-close {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  background-color: rgb(255, 136, 0);
  color: #fff;
  text-align: center;
  margin: 0 0 0 auto;
}
#event-modal-close:focus,
#event-modal-close:hover {
  opacity: 0.8;
}
#event-modal .name {
  color: #555;
  text-align: right;
}
.event-modal-talk {
  display: none;
  max-height: calc(80vh - 100px);
  overflow-y: auto;
}
.event-modal-talk hr {
  margin-top: 10px;
  border-top: rgb(255, 136, 0) 2px solid;
}
